{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "API_URL_PRIVATE": "http://catapult48gh23s.xyz:3000",
    "API_URL_PUBLIC": "http://catapult-test.44uk.net:3000",
    "HOST_PRIVATEKEY_PRIVATE": "",
    "HOST_PRIVATEKEY_PUBLIC": "",
    "WEBSITE_NODE_DEFAULT_VERSION": "10.6.0",
    "FUNCTIONS_EXTENSION_VERSION": "beta"
  }
}
